*.zwc
zsh/.zprezto
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
zsh/.zcompcache
zsh/zsh-syntax-highlighting
.DS_Store
emacs/auto-save-list/*
!emacs/auto-save-list/.gitkeep
emacs/elpa
emacs/lisp
emacs/el-get
emacs/backups/*
!emacs/backups/.gitkeep
emacs/undohist/*
!emacs/undohist/.gitkeep
emacs/cache/*
!emacs/cache/.gitkeep
emacs/recipes/*
!emacs/recipes/.gitkeep
emacs/recentf
emacs/.mc-lists.el
emacs/bookmarks
emacs/ac-comphist.dat
emacs/old
emacs/network-security.data
git/.gitconfig.local
git/.gitignore_global
